{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Profile</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">User Profile</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" src="{{user_detail['avatar_url']}}"
                alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">
              {%if user_detail['name']%}
              {{user_detail['name']}}
              {%else%}
              {{user_detail['login']}}
              {%endif%}
            </h3>

            <p class="text-muted text-center">
              {%if user_detail['bio']%}
              {{user_detail['bio']}}
              {%endif%}
            </p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Followers</b> <a href="{{url_for('followers', username=user_detail['login'])}}"
                  class="float-right">{{user_detail['followers']}}</a>
              </li>
              <li class="list-group-item">
                <b>Following</b> <a href="{{url_for('following', username=user_detail['login'])}}"
                  class="float-right">{{user_detail['following']}}</a>
              </li>
              <li class="list-group-item">
                <b>Repositories</b> <a class="float-right">{{user_detail['public_repos']}}</a>
              </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">About Me</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-building mr-1"></i> Company</strong>

            <p class="text-muted">{{user_detail['company']}}</p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

            <p class="text-muted">{{user_detail['location']}}</p>

            <hr>

            <strong><i class="far fa-envelope mr-1"></i> Email</strong>

            <p class="text-muted">{{user_detail['email']}}</p>

            <hr>

            <strong><i class="fab fa-twitter mr-1"></i> Twitter</strong>

            <p class="text-muted">{{user_detail['twitter_username']}}</p>

            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> Website</strong>

            <p><a href="{{user_detail['blog']}}">{{user_detail['blog']}}</a></p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        {%for repo, branch, commit, language in repo_detail%}
        <div class="card card-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-primary">
            <h3 class="widget-user-username">{{repo['name']}}</h3>
            {%if repo['description']%}
            <h5 class="widget-user-desc">
              {{repo['description']}}
            </h5>
            {%endif%}
          </div>
          <div class="card-footer p-0">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a data-toggle="modal" data-target="#modal-sm{{repo['id']}}br" class="nav-link">
                  Branches
                  {%if branch%}
                  <span class="float-right badge bg-primary">{{branch | length}}</span>
                  {%endif%}
                </a>
              </li>
              <li class="nav-item">
                <a data-toggle="modal" data-target="#modal-lg{{repo['id']}}cm" class="nav-link">
                  Commits
                  {%if commit%}
                  <span class="float-right badge bg-info">{{commit | length}}</span>
                  {%endif%}
                </a>
              </li>
              <li class="nav-item">
                <a data-toggle="modal" data-target="#modal-sm{{repo['id']}}lg" class="nav-link">
                  Languages
                  {%if language%}
                  <span class="float-right badge bg-success">{{language | length}}</span>
                  {%endif%}
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="modal fade" id="modal-sm{{repo['id']}}br">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Repository Branch</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {%if branch%}
                {%for a in branch%}
                <p>{{a['name']}}</p>
                {%endfor%}
                {%else%}
                <p>No data for Show</p>
                {%endif%}
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

        <div class="modal fade" id="modal-lg{{repo['id']}}cm">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Repository Commits</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {%if commit%}
                {%for a in commit%}
                <p>{{a['commit']['message']}}</p>
                {%endfor%}
                {%else%}
                <p>No data for Show</p>
                {%endif%}
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

        <div class="modal fade" id="modal-sm{{repo['id']}}lg">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Repository Language</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {%if language%}
                {%for key in language%}
                <p>{{key}}</p>
                {%endfor%}
                {%else%}
                <p>No data for Show</p>
                {%endif%}
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        {%endfor%}
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->

</section>
<!-- /.content -->
{% endblock %}